

/* Colors
========================================================================== */

$white: #fff;
$green01: #7bbf43;
$green02: #84c44e;
$darkGreen01: #213d44;
$darkGreen02: #213d41;
$darkGreen03: #213d4c;
$gray: #f2f2f2;
$darkGray: #eaf3e3;
$black: #000;
$blue: #2a3a41;

/* Font
========================================================================== */

$font-primary: 'Open Sans', sans-serif; 
$font-secondary: 'Montserrat', sans-serif;



